[mysqld]

mysqlx = 0

datadir = C:/Users/Tadgh/AppData/Roaming/Local/run/UNYpyjcKa/mysql/data
port = 10005
bind-address = 127.0.0.1,::1
socket = C:\\Users\Tadgh\AppData\Roaming\Local\run\UNYpyjcKa\mysql\mysqld.sock

console

# Older PHP/client compatibility
character-set-server = utf8mb3
default_authentication_plugin = mysql_native_password

# Fine Tuning
performance_schema = off
max_allowed_packet = 16M
thread_stack = 192K
thread_cache_size = 8

# InnoDB
innodb_buffer_pool_size = 32M
innodb_log_file_size = 96M

[client]
host = ::1
port = 10005
user = root
password = root
